*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url(../images/background.jpg);
    background-size:cover;
    background-position:center;
    position: relative;
}
.header.background1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url(../images/background2.jpg);
}
.header.background2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3)), url(../images/background3.jpg);
}
nav {
    padding: 30px 3%;
    display: flex;
    align-items:center;
}
nav ul{
    flex:1;
    text-align:right;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin:10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 17px;
}
nav .dropdown {
    position: relative;
    display: inline-block;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    min-width: 120px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav .dropdown-content a,
nav .dropdown-content p {
    color: #fff;
    padding: 8px;
    text-decoration: none;
    display: block;
}
nav .dropdown-content a:hover { background-color: #fff; color:#000 }
nav .dropdown:hover .dropdown-content { display: block; }
nav .dropdown:hover .dropdown-button { background-color: #fff; color:#000 }
.logo{
    width:32px;
    cursor:pointer;
}
.menu-icon{
    width:35px;
    cursor:pointer;
    margin: 0 20px;
}
.social-media a{
    color: #fff;
    text-decoration:none;
    margin:0 25px;
}
.social-media{
    transform:rotate(90deg) translate(-100%);
    transform-origin:left;
    position:absolute;
    bottom:0;
    left:5%;
}
.line{
    position: absolute;
    top:0;
    bottom:0;
    left:9%;
    width:2px;
    background:rgba(255, 255, 255, 0.3);
}
.row{
    width:75%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
    color:#fff;
    margin-top: 8%;
}
.row span{
    display:flex;
    align-items:center;
    margin:15px 0;
    font-size:18px;
}
.row span img{
    width:15px;
    margin-right:15px;
}
.content span{
    font-size:22px;
}
.content h1{
    font-size:75px;
    margin-top:30px;
    margin-bottom:20px;
}
.arrow{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    bottom:60px;
    width:75%;
    left:12.5%;
}
.arrow img{
    width:60px;
    cursor:pointer;
}
.login{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background-color: #fff;
    border-radius: 10px;
}
.login h1{
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 10px;
    border-bottom:1px solid silver;
}
.login form{
    padding:0 40px;
    box-sizing: border-box;
}
.signUp{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:450px;
    height:680px;
    background-color: #fff;
    border-radius: 10px;
}
.signUp h1{
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 10px;
    border-bottom:1px solid silver;
}
.signUp form{
    padding:0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline:none;
}
.txt_field label{
    position:absolute;
    top: 50%;
    left:5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}
.txt_field span::before{
    content:'';
    position: absolute;
    top:40px;
    left:0;
    width: 0%;
    height:2px;
    background : #535F68;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top:-5px;
    color: #535F68;
}
.txt_field input:focus ~ span:before,
.txt_field input:valid ~ span:before{
    width:100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor:pointer;
}
.pass:hover{
    text-decoration:underline;
}
input[type="submit"]{
    width:100%;
    height: 50px;
    border:1px solid;
    background: #535F68;
    border-radius: 25px;
    font-size:18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #3a4349;
    transition: .5s;
}
.signup_link{
    margin:30px 0;
    text-align: center;
    font-size:16px;
    color:#535F68;
}
.signup_link a{
    color:#535F68;
    text-decoration:none;
}
.signup_link a:hover{
    text-decoration: underline;
}
.social-icons{
    margin:30px auto;
    text-align: center;
}
.social-icons img{
    width:30px;
    margin:0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor:pointer;
    border-radius: 20%;
}
.frame{
    position:absolute;
    top: 10%;
    width:100%;
    height:90%;
    background-color: #fff;
    z-index: 5;
}
.sub-frame{
    position:absolute;
    top:10%;
    left:20%;
    width:60%;
}
.airInfo{
    border-radius: 10px 0 0 10px; 
    width:130px; 
    text-align: center; 
    background-color: #535F68;
    color:#fff;
    padding:5%;
    font-weight: bold;
    border-width:2px;
    border-color: black;
}
.flight{
    border-width:2px;
    border-color: black;
    border-radius: 0 10px 10px 0; 
    width:130px; 
    text-align: center;
    padding:5%;
    font-weight:bold;
}
.button-1{
    width:150px;
    height:50px;
    font-size: 18px;
    text-align:center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 none;
    background-color: #535F68;
    color:#fff;
    position: absolute;
    right:0%;
}
.button-1:hover{
    background-color: #3a4349;
}
.journey {
    width:300px;
    display: inline-flex;
    overflow:hidden;
    border-radius:5px;
    border: 1px solid #bcbcbc;
}
.seat {
    width:100%;
    display: inline-flex;
    overflow:hidden;
    border-radius:5px;
    border: 1px solid #bcbcbc;
}
.radio-input{
    display:none;
}
.radio-label{
    width:50%;
    text-align: center;
    padding:8px 14px;
    font-size: 18px;
    color:#000;
    background:#fff;
    cursor:pointer;
    transition: 0.1s;
}
.radio-label::not(:last-of-type){
    border-right:1px solid #bcbcbc;
    
}
.radio-input:checked + .radio-label{
    background: #535F68;
    color:#fff;
}
.radio-label:hover{
    background: #3a4349;
    color:#fff;
}
.number-box{
    margin-top: 5px;;
    border-radius: 10px;
    display: inline-flex;
    width:32%;
}
#sub-adult, #sub-children, #sub-infant{
    padding: 2px 12px 10px 23px;
    border-radius: 10px 0 0 10px;
    font-size:25px;
    background-color: #535F68;
    color:#fff;
    border:none;
}
#add-adult, #add-children, #add-infant{
    padding: 2px 20px 10px 10px;
    border-radius: 0 10px 10px 0;
    font-size:25px;
    background-color: #535F68;
    color:#fff;
    border:none;
}
#sub-adult:hover, #sub-children:hover, #sub-infant:hover, 
#add-adult:hover, #add-children:hover, #add-infant:hover{
    background-color: #3a4349;
}
#adult, #children, #infant{
    width:80%;
    height:50px;
    text-align:center;
    font-size:20px;
    border:none;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
}
table {
    border-collapse: collapse;
    border-top: 2px solid #535F68;
    border-bottom: 2px solid #535F68;
    border-right:2px solid #fff;
    border-left:2px solid #535F68;
    width:100%;
    margin-top: 15px;
}
table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}
table th,
table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  height:70px;
}
table th {
  background: #535F68;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  width:250px;
}
table th.last {
  border-right: none;
}

.button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
    font-size:20px;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: #535F68;
    border-bottom: 2px solid #535F68;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}

.tabs__content form .user-details{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.tabs__content form .user-details .input-box {
    margin-bottom:15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display:block;
    font-weight:bold;
    margin-bottom: 5px;
    font-size:20px;
}

.tabs__content form .user-details input {
    height:45px;
    width:100%;
    outline:none;
    border-radius: 5px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size:18px;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: lightgray;
    height: 16px;
    width: 16px;
}

input[type="checkbox"]:checked {
    background: #535F68;
}

input[type="checkbox"]:hover {
    filter: brightness(90%);
}

input[type="checkbox"]:disabled {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

input[type="checkbox"]:disabled:after {
    border-color: #7b7b7b;
}